# Copyright (c) 2026 Majaahh
# SPDX-License-Identifier: GPL-3.0-or-later

.mac
*.apk
*.hprof
*.iml
*.json
*.md
*pycache*
android/.gradle/
android/.kotlin/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.cxx/
android/.idea/

# Skip ignore
!README.md
